@mixin media($width) {
    @media (min-width:$width) {
        @content;
    }
}

.footer {
    background-color: #181818;
    color: #fff;
    padding: 2rem 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.6rem;
    font-weight: 300;

    .explain {
        margin-left: 1.5rem;
        position: relative;

        &:before {
            content: "*";
            position: absolute;
            left: -1.5rem;


        }
    }
}


.social {
    display: flex;
    gap: 2rem;

    ul {
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        @include media(992px) {
            flex-basis: 60%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }


        a {
            color: #fff;
        }
    }

    div {
        display: none;
        @include media(992px) {
           display: flex;
        }

    }




}